:root {
    --primary: #62929E;
    --text: #393D37;
    --white: #FDFDFF;
    --black: #000;
}

html,
body {
    font-family: Poppins, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
