
.container {
    padding: 28px 0.5em;
    border: 1px solid var(--text);
    grid-row: 1/-1;
}

.title {
    font-size: 1.6rem;
    margin: 0 0 28px;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: var(--primary);
}

.title:hover {
    color: var(--text)
}